*.swp
*.swo
*.mp4
*.bak
*.log
*.onnx
*.engine
*.pt
*.pth

build/
build*/
conf/nginx
scripts/log*
release/
cscope*
tags*
build_debug/
build_release/
.idea/
build/
logs/
cmake-build-debug/
cmake-build-debug-remote-host/
tests/data
.vscode/
.cache
